@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
    --color-primary: #1ca8cb;
    --color-title: #113d48;
    --color-text: #6e7070;

    --font-family-base: "Inter", sans-serif;
    --font-family-heading: "Manrope", sans-serif;
}
